.content {
  width: 320px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 80px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  touch-action: none;
  overflow: scroll;
}

.cardMain {
  line-height: 40px;
  padding-left: 32px;
  font-size: 14.5px;
  letter-spacing: 2px;
}

.cardSub {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}

.circleButton {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.circleButton:hover {
  color: midnightblue;
  cursor: pointer;
}

.inputBox {
  width: 320px;
  height: 80px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  line-height: 40px;
  padding-left: 32px;
  font-size: 14.5px;
  letter-spacing: 2px;
}

.actionButton {
  color: midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  font-size: 14.5px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.actionButton:hover {
  color: white;
  background-color: lightgray;
  cursor: pointer;
}

.card {
  color: white;
}

.cardClose:hover {
  color: midnightblue;
  cursor: pointer;
}

/* .content > div:nth-child(1) {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(2) {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(3) {
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(4) {
  background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
} */
